<!-- Start of Flickr -->
<div class="section">special stuff</div>
<div class="defaultContainer">
  <g:link controller="archive" action="list">Podcast Archive</g:link><br/>
  <g:link controller="entry">Admin</g:link><br/>
</div>

<div class="flickr topSpace" id="flickr">

</div>
<!-- End of Flickr -->