	      			<div class="section">search</div>
	      			<div class="defaultContainer">
					    <div id="autoCompleteSearch">
					        <input type="text" id="searchBox" value="search term"/>
					        <div id="searchContainer"></div>
					    </div>
	      			</div>

	      			<div class="section topSpace">updates</div>
	      			<!-- start twitter -->
					<div class="twitter">
					<ul id="twitter_update_list"></ul>
					</div>

                    <!-- twitter js -->
                    <script type="text/javascript" src="http://twitter.com/javascripts/blogger.js"></script>
                    <script type="text/javascript" src="http://twitter.com/statuses/user_timeline/grailspodcast.json?callback=twitterCallback2&count=3"></script>
                    <!-- twitter js -->

	      			<div class="section topSpace">social goodness</div>
					<div class="defaultContainer">
						<a href="http://www.flickr.com/search/?q=grailspodcast&m=tags">Flickr tag: 'grailspodcast'</a><br/>
						<a href="http://twitter.com/grailspodcast">Follow us on Twitter!</a><br/>
						<a href="mailto:grails.podcast@gmail.com">grails.podcast@gmail.com</a><br/>
						<a href="http://groups.google.com/group/grailspodcast">Grails Podcast Google Group</a>
					</div>

	      			<div class="section topSpace">our sponsors</div>
					<div class="defaultContainer center">
     
                                        <!--<a href="http://www.g2ix.com"><img src="http://www.g2ix.com/assets/g2ix/files/images/ad.gif"/></a -->
					</div>

	      			<div class="section topSpace">feeds</div>
					<div class="defaultContainer">
						<a href="http://feeds.grailspodcast.com/grailspodcast" title="Subscribe to our feed" rel="alternate" type="application/rss+xml"><img src="http://www.feedburner.com/fb/images/pub/feed-icon16x16.png" alt="" style="border:0"/></a> <a href="http://feeds.grailspodcast.com/grailspodcast" title="Subscribe to our feed" rel="alternate" type="application/rss+xml">Subscribe in a reader</a><br/>
						<a href="http://www.feedburner.com/fb/a/emailverifySubmit?feedId=1798222&amp;loc=en_US">Subscribe by Email</a><br/>
                                                <a href="http://feeds.grailspodcast.com/grailspodcast"><img src="http://feeds.feedburner.com/~fc/grailspodcast?bg=000000&fg=FFFFFF&anim=1&label=listeners" height="26" width="88" style="border:0" alt="" /></a>
					</div>

	      			<div class="section topSpace">about</div>
	      			<div class="defaultContainer">
	      			The Grails Podcast is a bi-weekly podcast about the <a href="http://groovy.codehaus.org">Groovy</a> scripting language, the <a href="http://www.grails.org">Grails</a>
	      			Web Framework and more. It is run by <a href="http://blogs.bytecode.com.au/glen">Glen Smith</a> from Canberra, Australia and <a href="http://hansamann.wordpress.com">Sven Haiges</a> from Sunnyvale, California.
	      			</div>

	         		<div class="section topSpace">del.icio.us</div>
	      			<!-- del.icio.us -->
	      			<div class="delicious">
						<script type="text/javascript" src="http://feeds.delicious.com/v2/js/tags/hansamann?title=%20&count=70&sort=alpha&flow=cloud&name&showadd&color=BBBBBB-000000&size=12-24"></script>
	      			</div>
	      			<!-- del.icio.us -->