<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd"> 
<html>
    <head>
        <title><g:layoutTitle default="grailspodcast.com - The Groovy &amp; Grails Podcast" /></title>
        <link rel="shortcut icon" href="${createLinkTo(dir:'images/grailspodcast',file:'favicon.ico')}" type="image/x-icon" />
        <g:layoutHead />
        <link rel="stylesheet" href="${createLinkTo(dir:'css',file:'blog.css')}" />		
        <link href="http://feeds.grailspodcast.com/grailspodcast" rel="alternate" type="application/rss+xml" title="Grails Podcast Feed" />
        <script type="text/javascript" src="http://static.delicious.com/js/playtagger.js"></script>	
        <meta name="verify-v1" content="m4T3qEhWQnrgrSJ3lqqHqKsMthninFsWFiKc0pRvxQ8=" />
    </head>
    <body class="yui-skin-sam">
        <g:layoutBody />
        <g:render template="/blog/test"/>
    <!-- create a blog layout and change the blog and calendar for it. add the now stirng into the json call for the weather info
    <!-- create a new controller which only does the weather and colors etc. -->
    </body>	
</html>