<html>
    <head>
        <title><g:layoutTitle default="grailspodcast.com - The Groovy &amp; Grails Podcast" /></title>
        <link rel="shortcut icon" href="${createLinkTo(dir:'images',file:'favicon.ico')}" type="image/x-icon" />
        <g:layoutHead />
        <link rel="stylesheet" href="${createLinkTo(dir:'css',file:'main.css')}" />
        
        			
    </head>
    <body class="yui-skin-sam">
        <div id="spinner" class="spinner" style="display:none;">
            <img src="${createLinkTo(dir:'images',file:'spinner.gif')}" alt="Spinner" />
        </div>	
        <div class="logo"><img src="${createLinkTo(dir:'images/grailspodcast',file:'grailspodcast_internal.png')}" alt="Grails Podcast" /></div>
        <g:layoutBody />		
    </body>	
</html>