<!DOCTYPE html>
<html>
<head>
	<title>full show doc</title>
</head>
<body>
<strong>Shownotes:</strong>
<ul>
<g:each in="${value.items}" var="part">
	<li><a href="${part.link}">${part.title}</a><br/>
		${part.description}
	</li>
</g:each>
</ul>

</body>
</html>